<h2>List of users</h2>
<h3 *ngIf="isShowErrorMsg"> Ops! Sorry you don't have access to this page</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Roles</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody *ngFor="let user of users">
  <tr>
    <td>
      <span>
        <i *ngIf="isAdmin(user.roles)" class="bi bi-person-fill-gear h4"></i>
        <i *ngIf="isTeacherOrStudent(user.roles)" class="bi bi-person-fill h4"></i>
      </span>
    </td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>{{getRolesString(user.roles)}}</td>
    <td>
      <button (click)="editUser(user)" type="button" class="btn btn-primary"><i class="bi bi-pencil"></i></button>
      <button (click)="deleteUser(user)" type="button" class="btn btn-danger m-lg-1"><i class="bi bi-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
